<a href="https://colab.research.google.com/github/cinnData/DataSci/blob/main/Code/Direct_marketing_of_term_deposits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Direct marketing of term deposits

### Starting Google Colab

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Importing the data

In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('/content/drive/My Drive/UM - Data Week - 2023/Detecci√≥n de fraude/deposit.csv')

### Checking the data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   job_admin            45211 non-null  int64
 2   job_blue-collar      45211 non-null  int64
 3   job_entrepreneur     45211 non-null  int64
 4   job_housemaid        45211 non-null  int64
 5   job_management       45211 non-null  int64
 6   job_retired          45211 non-null  int64
 7   job_self-employed    45211 non-null  int64
 8   job_services         45211 non-null  int64
 9   job_student          45211 non-null  int64
 10  job_technician       45211 non-null  int64
 11  job_unemployed       45211 non-null  int64
 12  job_unknown          45211 non-null  int64
 13  marital_divorced     45211 non-null  int64
 14  marital_married      45211 non-null  int64
 15  marital_single       45211 non-null  int64
 16  education_primary    45211 non-null  int64
 17  education_secondary  45211 non-null  int64
 18  education_tertiary   45211 non-null  int64
 19  education_unknown    45211 non-null  int64
 20  default              45211 non-null  int64
 21  balance              45211 non-null  int64
 22  housing              45211 non-null  int64
 23  loan                 45211 non-null  int64
 24  channel_cellular     45211 non-null  int64
 25  channel_telephone    45211 non-null  int64
 26  channel_unknown      45211 non-null  int64
 27  duration             45211 non-null  int64
 28  pdays                45211 non-null  int64
 29  previous             45211 non-null  int64
 30  poutcome_failure     45211 non-null  int64
 31  poutcome_other       45211 non-null  int64
 32  poutcome_success     45211 non-null  int64
 33  poutcome_unknown     45211 non-null  int64
 34  deposit              45211 non-null  int64
dtypes: int64(35)
memory usage: 12.1 MB

In [16]:
df

,age,job_admin,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,channel_telephone,channel_unknown,duration,pdays,previous,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,deposit
0,58,0,0,0,0,1,0,0,0,0,...,0,1,261,-1,0,0,0,0,1,0
1,44,0,0,0,0,0,0,0,0,0,...,0,1,151,-1,0,0,0,0,1,0
2,33,0,0,1,0,0,0,0,0,0,...,0,1,76,-1,0,0,0,0,1,0
3,47,0,1,0,0,0,0,0,0,0,...,0,1,92,-1,0,0,0,0,1,0
4,33,0,0,0,0,0,0,0,0,0,...,0,1,198,-1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,0,0,0,0,0,0,0,0,...,0,0,977,-1,0,0,0,0,1,1
45207,71,0,0,0,0,0,1,0,0,0,...,0,0,456,-1,0,0,0,0,1,1
45208,72,0,0,0,0,0,1,0,0,0,...,0,0,1127,184,1,0,0,1,0,1
45209,57,0,1,0,0,0,0,0,0,0,...,1,0,508,-1,0,0,0,0,1,0
45210,37,0,0,1,0,0,0,0,0,0,...,0,0,361,188,1,0,1,0,0,0

In [19]:
df['deposit'].mean().round(3)

0.117

### Target vector and features matrix